    #include <windows.h>
    IDI_ICON1               ICON    DISCARDABLE     "images/mai.ico"

    VS_VERSION_INFO     VERSIONINFO
    FILEVERSION         2016, 08, 08, 0
    PRODUCTVERSION      2016, 08, 08, 0
    FILEFLAGSMASK       0x3fL
    FILEFLAGS           0
    FILEOS              VOS_NT_WINDOWS32
    FILETYPE            VFT_APP
    FILESUBTYPE         VFT2_UNKNOWN
    BEGIN
        BLOCK   "VarFileInfo"
        BEGIN
            VALUE   "Translation",  0x419,  1200
        END
        BLOCK   "StringFileInfo"
        BEGIN
            BLOCK   "040904b0"
            BEGIN
                VALUE   "CompanyName",      "\0"
                VALUE   "FileDescription",  "Root Version Info\0"
                VALUE   "FileVersion",      "2018.12.18\0"
                VALUE   "InternalName",     "\0"
				VALUE   "LegalCopyright",   "maxohm [at] gmail.com\0"
                VALUE   "OriginalFilename", "\0"
                VALUE   "ProductName",      "BENEFIS5\0"
                VALUE   "ProductVersion",   "2018.12\0"
            END
        END
    END
